.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .figure__content {}

  .figure__description {
    padding: 0.5em;
    font-size: var(--type--1);
    color: var(--color-palette-2);
  }