.block-code {
  --_padding: var(--padding, 1rem);
  font-size: 74%;
  white-space: pre-wrap;
}

  .block-code__content {
    margin: auto;
    overflow: auto;
    resize: both;
    display: block;
    padding: var(--_padding);
    width: var(--max-inline-size);
    max-width: 100%;
    font-family: var(--font-mono);
    background-color: var(--color-palette-10);
  }