.block-code {
  --_padding: var(--padding, 1rem);
  overflow: auto;
  font-size: 74%;
  white-space: pre-wrap;
  background-color: var(--color-palette-10);
}

  .block-code__content {
    display: block;
    padding: var(--_padding);
    font-family: var(--font-mono);
  }