.article {}

  .article__header {
    margin-bottom: clamp(1rem, 4%, 4rem);
    padding: 0 var(--padding, 1rem) 2rem;
    border-bottom: 2px solid var(--color-palette-7);
  }

  .article__header-inner {
    margin-inline: auto;
    max-width: var(--max-inline-size);
  }

  .article__title {
    margin-bottom: 0.5em;
  }

  .article__dates {
    margin-block: 1.5rem;
    font-size: 0.75em;
    color: var(--color-palette-2);
  }

  .article__time {
    display: inline-block;
  }

  .article__time-label {
    font-weight: 500;
  }

  .article__categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .article__body {
    --line-height: 1.5;
    box-sizing: border-box;
    display: grid;
    align-content: start;
    grid-template-columns: 1fr minmax(0, var(--max-inline-size)) 1fr;
    padding: var(--padding, 1rem);
    line-height: var(--line-height);
  }

  .article__block {
    grid-column: 2 / span 1;
  }

  .article__block-title {
    margin-block-start: 0;
    margin-block-end:.5em;
    scroll-margin-block: 1em;
  }

    *:not(.article__block-title) + .article__block-title {
      margin-block-start: 1em;
    }

  .article__title-anchor {
    transition: 125ms;
  }

  @media (hover: hover) and (pointer: fine) {
    .article__block-title:not(:hover) .article__title-anchor:not(:focus) {
      opacity: 0;
    }
  }

  .article__paragraph {
    margin-block: calc(var(--line-height) * 1em);
  }

    .article__block-title + .article__paragraph,
    .article__paragraph + .article__paragraph {
      margin-block-start: 0;
    }

  .article__block-code {
    margin-inline: calc(var(--padding) * -1);
    margin-block: 0;
    grid-column: 1 / -1;
  }

  .article__resize {
    margin-inline: calc(var(--padding) * -1);
    grid-column: 1 / -1;
  }

  .article__figure {
    margin-block: calc(var(--line-height) * 1em);
  }

  .article__blockquote {
    font-size: 0.95em;
  }

  .article__list {
    margin-block: calc(var(--line-height) * 1em);
  }

    .article__paragraph + .article__list,
    .article__list + .article__list {
      margin-block-start: 0;
    }