<div class="index-block">
  <h1 class="index-block__title title title_level_1">Web Alchemy</h1>
  <h2 class="index-block__sub-title title title_level_2">Все статьи</h2>

  @articlesPreviewList({ items: articles, className: 'index-block__articles-list' })
    @slot('main', article)
      @articlePreview({
        title: article.title,
        link: article.link,
        date: article.createdAt,
        categories: article.categories
      })
      @end
    @endslot
  @end
</div>
