.title {
  line-height: 1.1;
  font-weight: 600;
  color: var(--color-palette-2);
}

  .title_level_1 {
    font-size: var(--type-3);
  }

  .title_level_2 {
    font-size: var(--type-2);
  }

  .title_level_3 {
    font-size: var(--type-1);
  }

  .title_level_4 {
    font-size: var(--type-0);
  }

  .title_level_5 {
    font-size: var(--type--1);
  }

  .title_level_6 {
    font-size: var(--type--2);
  }

