<a class="logo {{ className }}" href="{{ link || '/' }}">
  <img class="logo__image" src="/icon.svg" alt="Логотип сайта Web Alchemy" width="42" height="42"/>
  <span class="logo__main">
    <span class="logo__start">Web</span>
    <span class="logo__end">Alchemy</span>
  </span>
</a>