.logo {
  --is-hover: 0;
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.025em;
  font-family: var(--font-mono);
  font-weight: 500;
  text-transform: uppercase;
}

  .logo__image {
    flex: 0 0 auto;
    opacity: calc(var(--is-hover) * 1 + (1 - var(--is-hover)) * 0.64);
    display: block;
    width: 3em;
    height: auto;
    aspect-ratio: 1 / 1;
    transition: opacity 125ms;
  }

  .logo__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo__start {}

  .logo__end {}

  .logo:hover {
    --is-hover: 1;
  }
