@article({
  categories: categories(),
  showUpdateDate,
  createdAt,
  updatedAt
})
  @slot('title')
    {{{ title }}}
  @endslot

  @slot('main')
    {{{ excerpt }}}
    {{{ content }}}
  @endslot
@endarticle