.header {
  --gutter: var(--padding, 1rem);
  padding: var(--gutter);
  display: flex;
  gap: var(--gutter);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: calc(14 / 16 * 1rem);
}

  .header__logo {
    flex: 0 0 auto;
  }

  .header__nav {}