.footer {
  padding: var(--padding, 1rem);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 80%;
}

  .footer__copy {
    font-size: inherit;
  }

  .footer__link {}