<footer class="footer {{ classes }}">
  <small class="footer__copy">
    © Web Alchemy, 2021 - {{ buildDate.getFullYear() }}
  </small>
  <a class="footer__link link" href="{{ RSSLink }}">RSS</a>
</footer>