.article-preview {
  position: relative;
  z-index: 0;
  padding: clamp(16px, 1.5rem, 32px);
  border: 2px solid var(--color-palette-7);
  border-radius: 0.25em;
}

  @media (hover: hover) and (pointer: fine) {
    .article-preview::before {
      content: '';
      opacity: 0.12;
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: var(--color-palette-7);
      transition: 0.2s;
    }

    .article-preview:not(:hover)::before {
      opacity: 0;
    }
  }

  .article-preview__title {
    margin: 0;
    margin-block-end: 0.25em;
    font-weight: 500;
  }

  .article-preview__link {
    color: inherit;
    text-decoration: none;
  }

  .article-preview__link::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  .article-preview__date {
    display: inline-block;
    vertical-align: top;
    font-size: 0.75em;
  }

  .article-preview__categories {
    margin: 0;
    margin-block-start: 1rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: basline;
    flex-wrap: wrap;
    gap: 0.5em;
  }