<!DOCTYPE html>
<html class="page {{ className }}" lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    @if(description)
      <meta property="og:description" name="description" content="{{ description }}">
    @endif
    @if(image)
      <meta name="twitter:card" content=summary_large_image>
      <meta property="og:image" content="{{ image }}">
    @end
    @if($slots.head)
      {{{ await $slots.head() }}}
    @endif
  </head>
  <body class="page__body">
    @if($slots.header)
      {{{ await $slots.header({ classes: 'page__header' }) }}}
    @endif

    @if($slots.main)
      {{{ await $slots.main({ classes: 'page__main' }) }}}
    @endif

    @if($slots.footer)
      {{{ await $slots.footer({ classes: 'page__footer' }) }}}
    @endif
  </body>
</html>