@article()
  @slot('title')
    О проекте "Web Alchemy"
  @endslot

  <p>
    На данный момент, сайт является <a class="link" href="https://twitter.com/DrMonochromer" target="_blank" rel="noopener noreferrer">личным блогом</a> о веб-разработке, но, возможно, в будущем перерастёт в нечто большее.
  </p>
@endarticle