<nav class="nav {{ className }}">
  <ul class="nav__list" role="list">
    @each(item in items)
      @set('isActive', currentLink === item.link)
      <li class="nav__item">
        <a class="nav__link" href="{{ item.link }}" {{ isActive ? 'aria-current="page"' : ''}}>
          {{ item.text }}
        </a>
      </li>
    @endeach
  </ul>
</nav>