@property --link-background-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 1
}

.link {
  --link-background-opacity: 0.4;
  color: hsl(var(--color-link-base));
  text-decoration: none;
  background:
    linear-gradient(
      hsl(var(--color-link-base) / var(--link-background-opacity)),
      hsl(var(--color-link-base) / var(--link-background-opacity))
    )
    no-repeat 0 100% / 100% 2px;
    transition: --link-background-opacity 125ms;
}

  .link:hover {
    --link-background-opacity: 0;
  }